.container {
    margin-top: 8% !important;
    /* Updated for a more modern look */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 10px 12px 20px rgb(0, 0, 0);
    /* Added shadow for depth */
    border-radius: 10px;
    /* Smoothed edges */
}

.signed-in,
.not-signed-in {
    padding: 30px;
    background-color: #042135;
    /* Unified color for consistency */
    border: none;
    /* Removed border for a cleaner look */
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Added subtle shadow */
}

h2,
h4,
p {
    margin-top: 10px;
}

h2 {
    color: #ffd700;
    /* Gold color for emphasis */
    font-size: 1.5rem;
    /* Responsive font size */
}

h4 {
    color: #ffa500;
    /* Orange color for a vibrant look */
    font-size: 1.2rem;
    /* Responsive font size */
}

p {
    color: #56dee1;
    /* Dark blue for readability */
    font-size: 1rem;
    /* Standard font size */
}

button,
.btn-link {
    background-color: #0d4870;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    /* Unified styles for buttons and links */
    display: inline-block;
    /* Adjusted for better alignment */
    width: 95%;
    /* Auto width for content adjustment */
    margin-left: 20px;
    margin-top: 10px;
    /* Consistent margin */
}

button:hover,
.btn-link:hover {
    background-color: black;
    /* Darker shade on hover for interaction feedback */
}

#SignReg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Wrap items for better responsiveness */
}

#NotSign-msg {
    text-align: center;
    font-size: larger;
    color: #f4e90e;
    /* Bright yellow for visibility */
}