<div class="appointments">
    <h1>Appointments</h1>
    <ul>
        <li *ngFor="let appointment of appointments">
            <div id="loop">
                <p><span>Doctor name:</span> {{appointment.doctor.name}}</p>
                <p><span>Patient Mobile Number:</span> {{appointment.doctor.phone_number}}</p>
                <p><span>Appointment Date:</span> {{appointment.appointmentDate}}</p>
                <p><span>Appointment Time:</span> {{appointment.appointmentTime}}</p>
                <p><span>Appointment Status:</span> {{appointment.Isaccepted}}</p>

                <div class="buttons">
                    <button class="reject" (click)="Reject_appointment(appointment.id)">Reject Appointment</button>
                </div>
            </div>
        </li>
    </ul>
</div>