<div class="appointments">
    <h1>My Appointments</h1>
    <ul>
        <h5 style="text-align: center;"> {{message}} </h5>
        <li *ngFor="let appointment of appointments">
            <div id="loop">
                <p><span>Doctor name:</span> {{appointment.doctor.name}}</p>
                <p><span>Patient Mobile Number:</span> {{appointment.doctor.phone_number}}</p>
                <p><span>Appointment Date:</span> {{appointment.appointmentDate}}</p>
                <p><span>Appointment Time:</span> {{appointment.appointmentTime}}</p>
                <p><span>Appointment Status:</span> {{appointment.Isaccepted}}</p>

                <div class="buttons">
                    <button class="reject" (click)="Reject_appointment(appointment.id)">Delete Appointment</button>
                </div>

                <ul *ngIf="appointment.reports.length > 0">
                    <h3>My Reports</h3>
                    <li id="cool" *ngFor="let report of appointment.reports">{{report.document_name}}
                        <button id="bsn" (click)="Download_Report(report.document_path)">Download</button>
                    </li>
                </ul>

            </div>
        </li>
    </ul>
</div>