<div class="container">
  <form id="userForm">
    <h2>Login....</h2>


    <div class="form-control">
      <input type="number" id="number" name="number" required [(ngModel)]="phoneNumber" />
      <label>
        <span style="transition-delay: 0ms">M</span>
        <span style="transition-delay: 50ms">o</span>
        <span style="transition-delay: 100ms">b</span>
        <span style="transition-delay: 150ms">i</span>
        <span style="transition-delay: 200ms">l</span>
        <span style="transition-delay: 250ms">e</span>
        <span style="transition-delay: 300ms">-</span>
        <span style="transition-delay: 350ms">N</span>
        <span style="transition-delay: 400ms">u</span>
        <span style="transition-delay: 450ms">m</span>
        <span style="transition-delay: 500ms">b</span>
        <span style="transition-delay: 550ms">e</span>
        <span style="transition-delay: 600ms">r</span>
        <span style="transition-delay: 650ms">:</span>
      </label>
    </div>

    <div class="form-control">
      <input type="password" id="email" name="email" required [(ngModel)]="password" />
      <label>
        <span style="transition-delay: 0ms">P</span><span style="transition-delay: 50ms">a</span><span
          style="transition-delay: 100ms">s</span><span style="transition-delay: 150ms">s</span><span
          style="transition-delay: 200ms">w</span><span style="transition-delay: 250ms">o</span>
        <span style="transition-delay: 300ms">r</span>
        <span style="transition-delay: 350ms">d</span>
        <span style="transition-delay: 400ms">:</span>
      </label>
    </div>

    <button class="button2" type="button" (click)="signIn()">
      - Signin to System -
    </button>
    <br /> <br />
    <b>{{ message }}</b>
  </form>
</div>