<header class="site-header">
    <div class="logo">
        <!-- <img src="" alt="Your Logo"> -->
        <h2>PATIENT MANAGEMENT SYSTEM</h2>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a routerLink="/" href="#">Home</a></li>
            <li><a routerLink="/patient">Patient</a></li>
            <li><a routerLink="/doctor">Doctor</a></li>
            <li><a routerLink="/pharmacy">Pharmacy</a></li>
            <li><a routerLink="/signup">Register</a></li>
            <li><a routerLink="/signin">SignIn</a></li>
        </ul>
    </nav>
</header>