body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    color: #FFFFFF;
    /* Pure white for better readability */
    font-size: xx-large;
}

.site-header {
    background-color: #2E113A;
    /* Deep purple for a rich, elegant look */
    color: #FFFFFF;
    /* Pure white for contrast */
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 100px black;
}

.logo img {
    width: 100px;
    /* Adjust as needed */
    height: auto;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav li {
    display: inline;
    /* Display li elements inline */
    margin-right: 20px;
}

.main-nav a {
    text-decoration: none;
    color: #41ED9D;
    /* Vibrant mint green for a lively, inviting feel */
    font-weight: bold;
}

.main-nav a:hover {
    color: #FFCC00;
    /* Sunny yellow for a warm, welcoming hover effect */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .logo img {
        width: 80px;
        /* Adjust as needed */
    }

    .main-nav li {
        display: block;
        /* Display li elements as block */
        margin-right: 0;
        margin-bottom: 10px;
    }
}