.appointments {
    margin: 2% auto;
    border: none;
    border-radius: 15px;
    background-color: #322659;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: auto;
    color: #FFD700;
    width: 95%;
}

.appointments h1 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

.appointments ul {
    list-style: none;
    padding: 0;
}

.appointments li {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(126, 78, 78);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.appointments li:hover {
    /* transform: scale(1.05); */
    background-color: #2f1801;
    border: 5px solid whitesmoke;
}

.appointments li:hover p span {
    color: #F5F5F5;
}

button {
    background-color: #322659;
    color: #FFD700;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

#Prescribe-btn {
    width: auto;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1rem;
    margin: 2px auto;
    display: block;
}

#delete-btn {
    background-color: #FF0000;
    margin: 0;
    padding: 3px;
}

#Prescribe-btn:hover,
#delete-btn:hover {
    background-color: #130b33;
}

#koko {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.appointments p {
    margin: 10px;
}

.appointments p span {
    color: #00008B;
    font-weight: bold;
    font-size: 1rem;
}

.buttons {
    margin-top: 20px;
}

.accept,
.Finesh,
.reject {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.accept:hover {
    background-color: #008000;
    color: #FFFFFF;
}

.Finesh:hover {
    background-color: black;
    color: #FFFFFF;
}

.reject:hover {
    background-color: #FF0000;
    color: #FFFFFF;
}

.popup {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

.popup-content {
    background-color: #FFFFFF;
    margin: 15% auto;
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #AAAAAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .appointments,
    .appointments li,
    .appointments p span {
        margin: 5px;
        padding: 10px;
        font-size: 0.9rem;
    }
}

::ng-deep .cdk-overlay-container {
    z-index: 1001;
}

@media screen and (max-width: 768px) {

    .appointments,
    .appointments li,
    .appointments p span {
        margin: 5px;
        padding: 10px;
        font-size: 0.9rem;
    }
}

.suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
    background-color: #fff;
}

.suggestions li {
    padding: 4px;
    cursor: pointer;
    font-size: small;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}