<div class="appointments">
    <h1>Accepted Appointments</h1>
    <ul>
        <h5 style="text-align: center;">- {{message}} -</h5>
        <li *ngFor="let appointment of appointments">
            <div>
                <p><span>Patient:</span> {{appointment.patient.name}}</p>
                <p><span>Patient Mobile Number:</span> {{appointment.patient.phone_number}}</p>
                <p><span>Appointment Date:</span> {{appointment.appointmentDate}}</p>
                <p><span>Appointment Time:</span> {{appointment.appointmentTime}}</p>
                <p><span>Appointment Status:</span> {{appointment.Isaccepted}}</p>
                <div class="buttons">
                    <button class="accept" (click)="openPopup(appointment.id)">Prescribe Medicine</button>
                    <button class="Finesh" (click)="Finesh(appointment.id)">Finish Appointment</button>
                    <button class="reject" (click)="rejectAppointment(appointment.id)">Reject Appointment</button>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- Prescription Pop-up -->
<div class="popup" *ngIf="showPopup">
    <div class="popup-content">
        <span class="close" (click)="closePopup()">&times;</span>
        <div id="koko">
            <h2>Prescribe Medicine</h2>
            <label for="medicine">Medicine:</label>
            <input type="text" id="medicine" [(ngModel)]="prescribedMedicine" (focus)="showAllMedicines()"
                (input)="filterMedicines($event)" (focusout)="hideSuggestions()">
            <button (click)="prescribeMedicine()">- Add -</button>

            <!-- Suggestion List -->
            <ul *ngIf="filteredMedicines.length > 0" class="suggestions">
                <li *ngFor="let medicine of filteredMedicines"
                    (click)="prescribedMedicine = medicine; filteredMedicines = []">
                    {{medicine}}
                </li>
            </ul>

            <ul type="circle">
                <li *ngFor="let medi of medichine">{{medi}}
                    <button id="delete-btn" (click)="deletmedi(medi)">Delete</button>
                </li>
            </ul>
            <button id="Prescribe-btn" (click)="Prescribe()">Prescribe</button>
        </div>
    </div>
</div>