<div class="appointments">
    <h1> Appointments Prescription</h1>
    <ul>
        <li *ngFor="let appointment of appointments">
            <div id="loop">
                {{appointment.doctor_name}} ::: {{appointment.appointmentDate}} ::: {{appointment.appointmentTime}}
                <div class="medi">
                    <h2>::: Your-Medicine-List :::</h2>
                    <ul type="circle">
                        <table border="10">
                            <caption></caption>
                            <tr *ngFor="let medicine of appointment.medician; let i = index">
                                <th> {{i + 1}}. </th>
                                <th>{{medicine}}</th>
                            </tr>
                        </table>
                    </ul>
                </div>

                <div class="buttons">
                    <button class="accept" (click)="ONCheckout(appointment.id)">Click Buy All medichines</button>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="popup" *ngIf="checkout">
    <button class="close-btn" (click)="checkout = false">X</button>
    <div class="card cart" id="cscard">
        <label class="title">CHECKOUT</label>
        <div class="steps">
            <div class="step">
                <div>
                    <span>SHIPPING</span>
                    <p>221B Baker Street, W1U 8ED</p>
                    <p>Colombo, Srilanka</p>
                </div>
                <hr>
                <div>
                    <span>PAYMENT METHOD</span>
                    <p>Visa</p>
                    <p>**** **** **** 4243</p>
                </div>
                <hr>
                <div class="promo">
                    <span>HAVE A PROMO CODE?</span>
                    <form class="form">
                        <input class="input_field" placeholder="Enter a Promo Code" type="text">
                        <button>Apply</button>
                    </form>
                </div>
                <hr>
                <div class="payments">
                    <span>PAYMENT</span>
                    <div class="details">
                        <span>Subtotal:</span>
                        <span>$240.00</span>
                        <span>Shipping:</span>
                        <span>$10.00</span>
                        <span>Tax:</span>
                        <span>$30.40</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card checkout" id="final">
        <div class="footer">
            <label class="price">$280.40</label>
            <button class="checkout-btn">Checkout</button>
        </div>
    </div>
    i
</div>