.appointments {
    margin: 2% 8%;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: rgb(3, 71, 69);
    box-shadow: 0 0 5px rgb(217, 217, 217);
    padding: 2%;
    overflow: auto;
    color: yellow;
}

.appointments h1 {
    color: white;
    text-align: center;
    margin-top: 2%;
}

.appointments ul {
    list-style-type: none;
    padding: 0;
}

.appointments li {
    margin: 2%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: gray;
    box-shadow: 0 0 5px rgb(217, 217, 217);
    text-align: center;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.appointments li:hover {
    background-color: black;
}

.appointments li:hover p span {
    color: whitesmoke;
}

.appointments p {
    margin: 5px;
}

.appointments p span {
    color: darkblue;
    font-weight: bolder;
    font-size: larger;
}

.buttons {
    margin-top: 10px;
}

.accept,
.reject {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    transition: background-color 0.3s;
}

.accept:hover {
    background-color: darkblue;
    color: white;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .appointments {
        margin: 2% 4%;
    }

    .appointments li {
        margin: 2%;
        padding: 2%;
        font-size: small;
    }

    .appointments p span {
        font-size: 1.2em;
    }
}

th {
    text-align: left;
    color: whitesmoke;
    padding: 5px;
    font-size: large;
    font-weight: bold;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    padding: 2%;
    border-radius: 15px;
}

/* Body */

.popup {
    display: grid;
    grid-template-columns: auto;
    gap: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent black background */
    z-index: 1000;
    /* Ensure it's above other content */
}

hr {
    height: 1px;
    background-color: #E5C7C5;
    border: none;
}

#cscard {
    margin-top: 20px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background: #F4E2DE;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #F3D2C9;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #000000;
}

.title {
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #E5C7C5;
    font-weight: 700;
    font-size: 11px;
    color: #000000;
}

/* Cart */
.cart {
    border-radius: 19px 19px 0px 0px;
}

.cart .steps {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.cart .steps .step {
    display: grid;
    gap: 10px;
}

.cart .steps .step span {
    font-size: 13px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 8px;
    display: block;
}

.cart .steps .step p {
    font-size: 11px;
    font-weight: 600;
    color: #000000;
}

/* Promo */
.promo form {
    display: grid;
    grid-template-columns: 1fr 80px;
    gap: 10px;
    padding: 0px;
}

.input_field {
    width: auto;
    height: 36px;
    padding: 0 0 0 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #E5C7C5;
    background-color: #F4E2DE;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #F3D2C9;
    background-color: #F4E2DE;
}

.promo form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    width: 100%;
    height: 36px;
    background: #F3D2C9;
    box-shadow: 0px 0.5px 0.5px #F3D2C9, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 5px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

/* Checkout */
.payments .details {
    height: fit-content;
    display: grid;
    grid-template-columns: 10fr 1fr;
    padding: 0px;
    gap: 5px;
}

.payments .details span:nth-child(odd) {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    margin: auto auto auto 0;
}

.payments .details span:nth-child(even) {
    font-size: 13px;
    font-weight: 600;
    color: #000000;
    margin: auto 0 auto auto;
}

.checkout .footer {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    background-color: #ECC2C0;
}

.price {
    position: relative;
    font-size: 22px;
    color: #2B2B2F;
    font-weight: 900;
}

.checkout .checkout-btn {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 36px;
    background: #F3D2C9;
    box-shadow: 0px 0.5px 0.5px #E5C7C5, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 7px;
    border: 1px solid #ECC2C0;
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

#final {
    border-radius: 0 0 10px 10px;
}