<div class="appointments">
    <ul>
        <h5 style="text-align: center;"> {{message}} </h5>
        <li *ngFor="let appointment of appointments;let i = index">
            <div id="loop">
                {{i+1}}. {{appointment.doctor_name}} ::: {{appointment.appointmentDate}} :::
                {{appointment.appointmentTime}}
                <div class="medi">
                    <h2>::: Your Bill Amount is {{appointment.bill}} Rupees. :::</h2>
                    <!-- <ul type="circle">
                        <table border="1">
                            <caption></caption>
                            <tr *ngFor="let medicine of appointment.medician; let i = index">
                                <th> {{i + 1}}. </th>
                                <th>{{medicine}}</th>
                            </tr>
                        </table>
                    </ul> -->
                </div>

                <div class="buttons">
                    <button class="accept" (click)="ONCheckout(appointment.id)">Click to Make Payment</button>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="popup" *ngIf="checkout">
    <button class="close-btn" (click)="checkout = false">X</button>
    <div class="card cart" id="cscard">
        <label class="title">CHECKOUT</label>
        <div class="steps">
            <div class="step">
                <div>
                    <span>Delivery Address</span>
                    <p>{{selected_Appointment.address}}</p>
                    <p> Srilanka</p>
                </div>
                <hr>
                <div>
                    <span>PAYMENT METHOD</span>
                    <p>Visa</p>
                    <p>**** **** **** 4243</p>
                </div>
                <hr>
                <div class="promo">
                    <span>HAVE A PROMO CODE?</span>
                    <form class="form">
                        <input class="input_field" placeholder="Enter a Promo Code" type="text">
                        <button id="checkout-btn">Apply</button>
                    </form>
                </div>
                <hr>
                <div class="payments">
                    <span>PAYMENT</span>
                    <div class="details">
                        <span>Subtotal:</span>
                        <span>{{selected_Appointment.bill}}.00</span>
                        <span>Doctor Fee:</span>
                        <span>500.00</span>
                        <span>Tax:</span>
                        <span>200.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card checkout" id="final">
        <div class="footer">
            <label class="price">Total: {{selected_Appointment.bill+700}} LKR.</label>
            <button class="checkout-btn" (click)="Payment(selected_Appointment.id)" id="checkout-btn">Checkout</button>
        </div>
    </div>
    i
</div>